[user]
  email = duelwith_mahmud@live.com  
  name = Mahmud Ahmad
[core]
	excludesfile = /Users/mahmudahmad/.gitignore
	editor = /usr/bin/vim
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[includeIf "gitdir:~/Development/work/"]
  path = .gitconfig-work
